@import "../../library.blocks/bootstrap/bootstrap-reboot";

@import "../add-to-favorite/add-to-favorite";
@import "../complect-item-modal/complect-item-modal";
@import "../added-to-cart-modal/added-to-cart-modal";

.complect-item {
  position: relative;
  .card-footer {
    background-color: $white;
    border-top-width: 0;
  }

  .add-to-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0;
    border-width: 0;
    background-color: $white;
    border-radius: 50%;
    z-index: 2;
    &.active,
    &:hover {
      .icon {
        opacity: 1;
        filter: brightness(1);
      }
    }
    &.active {
      .icon {
        background-image: url(/common.blocks/icon/icon__heart_style_primary.svg);
      }
    }
    .icon {
      width: 20px;
      height: 20px;
      background-size: 20px;
      filter: brightness(0);
      opacity: .5;
    }
  }
}
.complect-item__title {
  margin-bottom: .25rem;
  font-size: 1.125rem;
}
.complect-item__title-link {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.complect-item__image {
  display: block;
  min-height: 300px;
  margin-bottom: .75rem;
  background-color: $dark;
  background-size: cover;
  background-position: center;
  transition: $transition-fade;
  &:hover {
    opacity: .96;
  }
}
.complect-item__details {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $text-muted;
}
.complect-item__detail {
  flex: 1 50%;
}
.complect-item__uid {
  flex: 1 100%;
  margin-bottom: .5rem;
}
.complect-item__price {
  font-size: 1.5rem;
  font-weight: bold;
  color: $gray-900;
}

.complect-item__added-to-cart {
  .icon {
    &:hover {
      filter: brightness(1);
    }
  }
}