@import "../../library.blocks/bootstrap/bootstrap-reboot";

.product-size-control__input-group-size-l {
  display: inline-flex;
  vertical-align: middle;
  width: initial;
}
.product-size-control__select-size-l {
  max-width: 60px;
}

.product-size-control {
  .input-group-text {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }
  .custom-select {
    border-color: $primary;
  }
}

.product-size-control__label {
  font-size: 1.125rem;
}