@import "../../library.blocks/bootstrap/bootstrap-common";

.slider {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  background-color: $light;
  .lead {
    font-size: 1.5rem;
  }
}
.slider__item {
  align-items: center;
  &.slick-slide {
    display: flex;
    min-height: 450px;
  }
}
.slider__item-header {
  margin-bottom: 70px;
}