@import "../../library.blocks/bootstrap/bootstrap-reboot";

@import "../../common.blocks/product-size-control/product-size-control";
@import "../product-size-popover/product-size-popover";

.product-includes-item {
  border-bottom: 1px solid $border-color;
}
.product-includes-item__title {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0;
  padding: .75rem 0;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: initial;
  transition: $transition-base;
  &.collapsed {
    color: $navbar-light-disabled-color;
    .icon {
      background-image: url(/common.blocks/icon/icon__expand_style_primary.svg);
    }
  }
  .icon {
    margin-right: 1.5rem;
    width: 25px;
    height: 25px;
    background-size: 24px;
  }
}
.product-includes-item__category {
  display: block;
  font-size: .875rem;
  margin-bottom: 1rem;
  color: $text-muted;
}
