@import "../../library.blocks/bootstrap/bootstrap-reboot";

@import "../list-of-product-includes/list-of-product-includes";

.product-item-modal__total-label {
  color: $text-muted;
}
.product-item-modal__price {
  font-size: 2rem;
  font-weight: bold;
}