@import "../../library.blocks/bootstrap/bootstrap-reboot";

.product-item-modal {
  .list-of-products-included-item__title {
    .icon {
      display: none;
    }
  }
}
.product-item-modal__total-label {
  color: $text-muted;
}
.product-item-modal__price {
  font-size: 2rem;
  font-weight: bold;
}