@import "../../library.blocks/bootstrap/bootstrap-common";

@import "../list-of-product-includes/list-of-product-includes";

.complect-item-modal {
  .modal-title {
    font-size: 1.5rem;
  }
}
.complect-item-modal__total-label {
  color: $text-muted;
}
.complect-item-modal__price {
  font-size: 2rem;
  font-weight: bold;
}