@import "../library.blocks/bootstrap/bootstrap";
// Slick Carousel
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";

.slick-dots li {
  width: initial;
  height: initial;
  button {
    width: 30px;
    height: 10px;
    border: 1px solid $primary;
    background-color: $white;
    &:before {
      display: none;
    }
  }
  &.slick-active {
    button {
      background-color: $primary;
    }
  }
}