@import "../../library.blocks/bootstrap/bootstrap-reboot";

.complect-item-modal {
  .product-size-box__collapse-icon {
    display: none;
  }
}
.complect-item-modal__total-label {
  color: $text-muted;
}
.complect-item-modal__price {
  font-size: 2rem;
  font-weight: bold;
}