@import "../../library.blocks/bootstrap/bootstrap-reboot";

.pagination {
  margin-bottom: 0;
}
.pagination-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}