@import "../../library.blocks/bootstrap/bootstrap-reboot";

.product-item {
  .card-footer {
    background-color: $white;
    border-top-width: 0;
  }
}
.product-item__image {
  display: block;
  min-height: 300px;
  margin-bottom: .75rem;
  background-size: cover;
  background-position: center;
  transition: $transition-fade;
  &:hover {
    opacity: .96;
  }
}

.product-item__details {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $text-muted;
}
.product-item__price {
  font-size: 1.5rem;
  font-weight: bold;
}