@import "../../library.blocks/bootstrap/bootstrap-reboot";

.product-item {
  .card-footer {
    background-color: $white;
    border-top-width: 0;
  }
}

.product-item__details {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $text-muted;
}
.product-item__price {
  font-size: 1.5rem;
  font-weight: bold;
}