@import "../../library.blocks/bootstrap/bootstrap-reboot";

@import "../../common.blocks/complect-item/complect-item";

.list-of-popular-complects {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}