// Slick Carousel — http://kenwheeler.github.io/slick/
@import "../../library.blocks/bootstrap/bootstrap-reboot";

@import "../../common.blocks/image-item/image-item";

.list-of-images {
  list-style: none;
  padding: 0;
  margin: 0;
  .image-item__link {
    display: block;
  }
}
.list-of-images__item {
  margin-bottom: 1.5rem;
}

@include media-breakpoint-between(xs, sm) {
  .list-of-images {
    overflow: hidden;
    max-height: 450px;
    margin-bottom: 1.5rem;
  }
}
@include media-breakpoint-up(lg) {
  .list-of-images__item {
    margin-bottom: 50px;
  }
}