@import "../../library.blocks/bootstrap/bootstrap-common";

.favorites-page {
  min-height: 600px;
  .complect-item__add-to-favorite {
    .icon {
      background-image: url(../../common.blocks/icon/icon__cancel.svg);
      background-size: .875rem;
    }
    &:hover .icon {
      transform: rotate(90deg);
    }
  }

}