@import "../bootstrap/bootstrap-common";

.add-to-favorite {
  position: relative;
  .icon {
    position: relative;
    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: $transition-base;
    }
    &:before {
      background-image: url(#{$rootPath}/images/blocks/icon/icon__heart_style_primary.svg);
      opacity: 0;
    }
    &:after {
      background-image: url(#{$rootPath}/images/blocks/icon/icon__heart.svg);
      opacity: 1;
    }
  }
  &:active,
  &.active,
  &:hover {
    background-color: $white !important;
  }

  &.active {
    .icon {
      &:before { opacity: 1; }
      &:after { opacity: 0; }
    }
    &+.tooltip { opacity: 1; }
  }
}

.product-page__add-to-favorite-container {
  position: relative;
  .tooltip {
    z-index: 1;
    opacity: 0;
    top: -50px;
    left: -75px;
    transition: $transition-base;
    .tooltip-inner {
      white-space: nowrap;
    }
    .arrow {
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}