@import "../bootstrap/bootstrap-common";

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 800;
  src: url(#{$rootPath}/fonts/Circe/Circe-ExtraBold.ttf);
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: url(#{$rootPath}/fonts/Circe/Circe-Bold.ttf);
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: url(#{$rootPath}/fonts/Circe/Circe-Regular.ttf);
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 300;
  src: url(#{$rootPath}/fonts/Circe/Circe-Thin.ttf);
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 200;
  src: url(#{$rootPath}/fonts/Circe/Circe-Light.ttf);
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 100;
  src: url(#{$rootPath}/fonts/Circe/Circe-ExtraLight.ttf);
}

// MarkerFelt
@font-face {
  font-family: "MarkerFelt";
  font-style: normal;
  font-weight: 800;
  src: url(#{$rootPath}/fonts/MarkerFelt/MarkerFelt.ttf);
}