@import "../bootstrap/bootstrap-common";

.list-of-purchase-process-steps {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-of-purchase-process-steps__step {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.list-of-purchase-process-steps__step-icon {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 1.5rem;
  border: $border-color 1px solid;
  border-radius: 50%;
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
}
.list-of-purchase-process-steps__step-title {
  margin: 0;
  color: $dark;
  font-weight: normal;
  font-size: 1.125rem;
}

@include media-breakpoint-up(lg) {
  .list-of-purchase-process-steps__item {
    position: relative;
    &:not(:last-child):after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      transform: rotate(-90deg);
      right: 0;
      bottom: 40px;
      left: initial;
      margin: initial;
      background-image: url(#{$imagesPath}/icon__arrow-down.svg);
      background-position: center;
      background-size: cover;
    }
  }
}