@import "../bootstrap/bootstrap-common";

.list-of-special-categories {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.list-of-special-categories__item {
  position: relative;
  &:not(:last-child):after {
    content: "";
    display: block;
    position: absolute;
    top: .5rem;
    right: 0;
    height: 2.5rem;
    border-right: $border-color 1px solid;
  }
}
.list-of-special-categories__link {
  display: block;
}
.list-of-special-categories__category {
  text-align: center;
}
.list-of-special-categories__category-img {
  margin-bottom: 1.25rem;
}
.list-of-special-categories__category-caption {
  line-height: 1.25;
  color: $dark;
}