@import "../bootstrap/bootstrap-common";

.page-header {
  top: 0;
  left: 0;
  right: 0;
  //position: fixed;
  border-bottom: 1px solid $border-color;
  background-color: $white;
  z-index: 99;
  .navbar-toggler {
    padding: .75rem;
    .icon {
      width: 1rem;
      height: 1rem;
    }
  }
}
.page-header__search-form {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin: auto;
  margin-top: 1px;
  transition: $transition-base;
}
.page-header__search-control {
  border-width: 0;
  position: absolute;
}
.page-header__search-form.show {
  .page-header__search-control {
    box-shadow: rgba(0,0,0,.15) 0 5px 10px;
  }
  .page-header__search-btn {
    opacity: 1;
  }
}
.page-header__search-btn {
  position: absolute;
  top: 7px;
  right: 1rem;
  opacity: 0;
  transition: $transition-base;
}
.page-header__logo {
  margin-top: 5px;
}
.page-header__list-of-socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  .icon {
    margin-right: .5rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}
.page-header__navbar-actions {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  .nav-link {
    position:relative;
    padding: $nav-link-padding-x;
    &:hover {
      .icon {
        filter: brightness(1);
      }
    }
  }
  .badge {
    position: absolute;
    border-radius: 50%;
    padding: .25rem;
    font-weight: 600;
    min-width: 20px;
    min-height: 20px;
    right: .5rem;
    bottom: .5rem;
  }
}
.page-header__list-of-socials-item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 1.25rem;
  }
}
.page-header__phone {
  display: block;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: .5rem;
  line-height: 1;
}

.page-header__search-toggle:not(.collapsed) {
  .icon {
    filter: brightness(1);
  }
}

@include media-breakpoint-only(xs) {
  .page-header__logo {
    width: 110px;
  }
  .page-header__navbar-actions .nav-link {
    padding: 1rem .5rem;
  }
  .page-header__navbar-actions .badge {
    right: 0;
  }
}

@include media-breakpoint-up(sm) {
  .page-header__logo {
    width: 130px;
  }
}

@include media-breakpoint-between(xs, md) {
  .page-header__navbar-actions {
    order: -1;
    margin-left: auto;
    margin-right: 1rem;
  }
  .page-header {
    .navbar-brand {
      order: -2;
    }
  }
  .page-header__navbar {
    margin: 0 -1rem;
    .nav-link {
      padding: .75rem 1rem;
    }
  }
  .page-header__search-control {
    border-radius: 0;
  }
}
@include media-breakpoint-up(md) {
  .page-header__logo {
    width: 170px;
  }
}
@include media-breakpoint-up(lg) {
  .page-header {
    .navbar-collapse {
      align-self: stretch;
      .navbar-nav {
        align-self: stretch;
        >.nav-item {
          display: flex;
          align-items: stretch;
          .nav-link {
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {}