@import "../../library.blocks/bootstrap/bootstrap-reboot";

.slider {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  background-color: $light;
  .lead {
    font-size: 1.5rem;
  }
}
.slider__item {
  min-height: 450px;
  display: flex;
  align-items: center;
}
.slider__item-header {
  margin-bottom: 70px;
}