@import "../../library.blocks/bootstrap/bootstrap-reboot";

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: $transition-base;
}

.icon__expand { background-image: url(../../common.blocks/icon/icon__expand.svg); }
.icon__shopping-bag { background-image: url(../../common.blocks/icon/icon__shopping-bag.svg); }
.icon__heart { background-image: url(../../common.blocks/icon/icon__heart.svg); }
.icon__clothing-size { background-image: url(../../common.blocks/icon/icon__clothing-size.svg); }
.icon__close { background-image: url(../../common.blocks/icon/icon__close.svg); }
.icon__collapse_style_primary { background-image: url(../../common.blocks/icon/icon__collapse_style_primary.svg); }
//.icon__ { background-image: url(../../common.blocks/icon/icon__.svg); }

.icon__vk { background-image: url(../../common.blocks/icon/icon__vk.svg); }
.icon__instagram { background-image: url(../../common.blocks/icon/icon__instagram.svg); }

.icon_style_dark {
  filter: brightness(0);
}
.icon_style_light {
  filter: brightness(0) invert(1);
}

[data-toggle="collapse"] {
  .icon__expand {
    transform: rotate(45deg);
    transition: $transition-base;
  }
}
.collapsed {
  .icon__expand {
    transform: rotate(0);
  }
}