// Library.Blocks
@import "../../library.blocks/bootstrap/bootstrap-reboot";

// Common.Blocks
@import "../../common.blocks/page-header/page-header";
@import "../../common.blocks/page-footer/page-footer";
@import "../../common.blocks/list-of-images/list-of-images";
@import "../../common.blocks/list-of-products/list-of-products";
@import "../../common.blocks/list-of-complects/list-of-complects";
@import "../../common.blocks/list-of-reviews/list-of-reviews";
@import "../../common.blocks/list-of-product-includes/list-of-product-includes";
@import "../../common.blocks/list-of-product-categories/list-of-product-categories";
@import "../../common.blocks/add-to-favorite/add-to-favorite";
@import "../../common.blocks/added-to-cart-modal/added-to-cart-modal";


.product__section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }
}
.product__list-of-actions {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.product__composition-table {
  min-width: 180px;
  font-size: 1.125rem;
}

.product__list-of-details {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}
.product__detail {
  &:not(:last-child) {
    margin-right: 1.25rem;
  }
}
.product__uid {
  color: $text-muted;
}
.product__price {
  flex: 100%;
  font-size: $h1-font-size;
  font-weight: 500;
  margin-top: 1rem;
}

.product__description-text {
  color: $text-muted;
  font-size: 1.125rem;
}

.product__section_type_co-equipment {
  .product-item {
    &:hover {
      border-color: transparent;
    }
  }
}
.product__section_type_complect-contents {
  .list-of-product-includes__collapse-container {
    margin-left: 3rem;
  }
}

.product__add-to-favorite-container {
  .add-to-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    border: $primary 1px solid;
    border-radius: $btn-border-radius-lg;
    background-color: $white;
    width: 50px;
    height: 50px;
    padding: 0;
  }
}

@include media-breakpoint-only(xs) {
  .product__add-to-cart {
    padding-left: 24px;
    padding-right: 24px;
  }
}