@import "../../library.blocks/bootstrap/bootstrap-reboot";

@import "../../common.blocks/page-header/page-header";
@import "../../common.blocks/page-footer/page-footer";
@import "../../common.blocks/list-of-images/list-of-images";
@import "../../common.blocks/list-of-products/list-of-products";
@import "../../common.blocks/list-of-reviews/list-of-reviews";
@import "../../common.blocks/list-of-reviews/list-of-reviews";
@import "../../common.blocks/list-of-product-categories/list-of-product-categories";
@import "../../common.blocks/product-size-control/product-size-control";

.product__section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  h2 {
    margin-bottom: 0;
  }
}
.product__section-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0;
  transition: $transition-base;
  &.collapsed {
    color: $navbar-light-disabled-color;
  }
  .icon {
    position: absolute;
    margin-left: -3rem;
    margin-top: .25rem;
  }
}
.product__form-category {
  font-size: .875rem;
  margin-bottom: 1rem;
  margin-top: .5rem;
}
.product__list-of-actions {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.product__list-of-actions-item {
  &:not(:first-child) {
    margin-left: 1.5rem;
  }
}
.product__composition-table {
  min-width: 180px;
}

.product__list-of-details {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}
.product__detail {
  &:not(:last-child) {
    margin-right: 1.25rem;
  }
}
.product__uid {
  color: $text-muted;
}
.product__price {
  flex: 100%;
  font-size: $h1-font-size;
  font-weight: 500;
  margin-top: 1rem;
}

.product__link-to-size-table {
  color: $blue;
  margin-left: 2rem;
  .icon {
    position: absolute;
    margin-left: -2rem;
  }
  &:hover {
    color: darken($blue, 2);
    text-decoration: none;
    border-bottom: 1px dashed darken($blue, 2);
  }
}

.product__section_type_co-equipment {
  .product-item {
    &:hover {
      border-color: transparent;
    }
  }
}

.add-to-favorite {
  &:hover {
    background-color: $white;
  }
  &.active {
    .icon {
      filter: brightness(0) invert(1);
    }
  }
}